parso
patsy
pexpect
pickleshare
prompt-toolkit
psycopg2-binary
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
simplegeneric
six
statsmodels
tableone
tabulate
tornado
traitlets
wcwidth
cycler
decorator
ipykernel
ipython
ipython-genutils
jedi
jupyter-client
jupyter-core
matplotlib
matplotlib-venn
pandas
numpy

